:root {
  --pixel-text-sm: 1rem "Press Start 2P", system-ui;
}

.container-login {
width: 30%;
height: 70%;
background-color: var(--surface-primary);
border-radius: 1.7rem;
border: solid 2px var(--stroke);
padding: 2rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 
}

header {
  button {
    display:none;
  }
}

h1 {
  color: var(--text-primary);
  font: var(--pixel-text-lg);
  text-align: center;
  text-transform: uppercase;
}

.input {
  width: 100%;
  
  color: var(--text-primary);
  background-color: var(--purple);
  border: 4px solid var(--stroke);
  font: var(--normal-text-sm);
  outline: none;
  box-shadow: 0 0 0 4px black;
}

.link-cadastro  {
  color: var(--text-primary);
  font: var(--pixel-text-sm);
  font-size: x-small;
  text-align: center;

}

.link-cadastro a {
  text-decoration: none;
  color: var(--text-primary);
  
}

.link-cadastro a:hover{ 
  text-decoration: underline;
  
}
