* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pixel-text-lg: 1.5rem "Press Start 2P", system-ui;
  --pixel-text-md: 1rem "Press Start 2P", system-ui;

  --normal-text-lg: 600 2rem "Nunito", sans-serif;
  --normal-text-md: 1.5rem "Nunito", sans-serif;
  --normal-text-sm: 600 1rem "Nunito", sans-serif;

  --surface-primary: rgba(30, 20, 53, 0.9);
  --surface-secondary: #2C1B47;
  --surface-tertiary: #3c2a63;

  --text-primary: #F4F4F4;
  --text-secondary: #E2E4E9;
  --stroke: #44405A;

  --green: #5FFFA1;
  --blue: #5EDFFF;
  --purple: #1E1435;
  --orange: #FF914D;

  --purple-filter: brightness(0) saturate(100%) invert(7%) sepia(17%) saturate(6722%) hue-rotate(240deg) brightness(99%) contrast(96%);
  --green-filter: brightness(0) saturate(100%) invert(100%) sepia(78%) saturate(1766%) hue-rotate(61deg) brightness(115%) contrast(100%);
  --blue-filter: brightness(0) saturate(100%) invert(73%) sepia(18%) saturate(1509%) hue-rotate(164deg) brightness(103%) contrast(108%);
}

body {
  background-image: url(../imagens/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--text-primary);
  font: var(--normal-text-md);
}

h1, h2, h3 {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  width: 70%;
  height: 80%;
}

.container {
  
  height: 100%;
  width: 100%;
  background-color: var(--surface-primary);
  border-radius: 1.7rem;
  border: solid 2px var(--stroke);
  padding: 2rem;
}

.botao {
  color: var(--purple);
  background-color: var(--text-primary);
  padding: .6rem 1.2rem;
  font: var(--pixel-text-md);
  border: 0;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000052, 5px 5px #00000052, -5px 5px #00000052, inset 0px 5px #0000001c ;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: var(--blue);
  }

  &:active {
    transform: translateY(5px);
    box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,inset 0px 5px #00000052;
  }
}

.secundario {
  color: var(--text-primary);
  background-color: transparent;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000052, 5px 5px #00000052, -5px 5px #00000052, inset 0px 5px #ffffff18;

  &:hover {
    background-color: var(--orange);
  }
}

.input {
  padding: .5rem 1rem;
  color: var(--text-primary);
  background-color: var(--purple);
  border: 4px solid var(--stroke);
  font: var(--normal-text-sm);
  outline: none;
  box-shadow: 0 0 0 4px black;
}

.tag {
  color: var(--purple);
  background-color: var(--green);
  padding: .5rem 1.2rem;
  font: var(--normal-text-sm);
  border-radius: 2rem;
  display: inline-flex;  
  align-items: center;
  justify-content: center;
  gap: .4rem;

  img {
    height: 1.5rem;
    filter: var(--purple-filter);
  }
}

.transparente {
  color: var(--green);
  border: solid 1px var(--green);
  background-color: transparent;

  img {
    filter: var(--green-filter)
  }
}

.mascara-popup {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-popup {
  background: var(--surface-secondary);
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000052, 5px 5px #00000052, -5px 5px #00000052, inset 0px 5px #0000001c ;
  
  padding: 2.5rem 2rem 1rem;
  position: relative;
  max-width: 30%;
}

.botao-fechar {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.oculta {
  display: none;
}

.titulo-e-botoes {
  display: flex;
  align-items: center;
  gap: 1rem;  

  button {
    img {
      height: 2rem;
      width: auto;

      &:hover {
        filter: var(--blue-filter)
      }
    }
  }

  h1 {
    font: var(--pixel-text-lg);
  }

  :nth-child(3) {
    margin-left: auto;
  }
}

.toast {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
  
  background: var(--surface-secondary);
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000052, 5px 5px #00000052, -5px 5px #00000052, inset 0px 5px #0000001c ;
  padding: 1rem 2rem;

  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s, transform 0.5s;
  z-index: 10;
}

.toast.ativa {
  opacity: 1;
  transform: translateY(0);
}

::-webkit-scrollbar {
  background-color: var(--surface-primary);
  border-radius: 1rem;
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--surface-tertiary);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--surface-secondary);
}

::-webkit-scrollbar-track {
  background-color: var(--surface-primary);
}