#lista-premios {
  margin: 3rem 3rem 0;
  height: 17rem;
  overflow-y: auto;
  padding-right: 1rem;
}

.premio + div {
  margin-top: 1rem;
}

.linha-premio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.info-premio {
  display: flex;
  gap: 2rem;
}

.info-premio div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
  img {
    width: 1.9rem;
    height: auto;
  }
}

.tag {
  padding: .2rem 0.8rem;
}