#grid-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 3rem 2rem;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .grid-item {
    background-color: var(--surface-primary);
    border: 3px solid var(--stroke); 
    border-radius: 1.7rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease;
    color: var(--text-primary);
    box-shadow: 0 0 0.5rem #00000080;
  }
  
  .grid-item:hover {
    background-color: #4d397a;
  }
  
  .grid-item img {
    width: 4rem;
    height: 4rem;
    image-rendering: pixelated;
  }
  
  .grid-item span {
    font: var(--pixel-text-md);
    color: white;
  }
  