.container {
  padding: 0;
  & > :not(nav) {
    padding: 2rem;
  }
  & > div + div {
    padding-top: 0;
  }
}

nav > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1rem 2rem;
  background-color: var(--surface-secondary);
  border-top-right-radius: 1.7rem;
  border-top-left-radius: 1.7rem;
  font: var(--normal-text-md);
  font-weight: 600;

  a {
    color: var(--text-primary);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .8rem;

    &:hover {
      filter: var(--orange-filter)
    }
  }
}